html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    height: 100%;
    background-color: rgb(247, 247, 247);
}

:any-link{
    text-decoration: none;
    color: black;
}
/* img{
    object-fit: cover;
    width: 100px;
    height: 100px;
} */
header {
    padding: 1rem 0;
    font-size: 1.5rem;
    background-color: white;
    border-bottom: solid rgb(194, 194, 194) 1px;
    position: relative;
}

.main-message, .main-profile, .main-pictures{
    margin-top: 5%;
    margin-left: calc((100% - 675px) / 2);
    margin-bottom: 5%;

    position: absolute;

    border-color: rgb(194, 194, 194);
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    background-color: white;

    width: 675px;
    height: 675px;
}
.main-message{

}
.main-profile{
   overflow: hidden;
}
.background-profile{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 675px;
    height: 675px;
}
.background-profile::-webkit-scrollbar{
    width: 5px;
    background-color: white;
}
.background-profile::-webkit-scrollbar-thumb{
    background-color: lightgray;
}

#img-profile{
    width: 675px;
    height: 675px;
    border-radius: 50px;
    border-width: 1px;
    /* background-color: gray; */

    background-image: url(img/img-profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#settings-profile{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.icons-profile{
    cursor: pointer;
}

.info-profile{
    color:white;
    text-shadow: 1px 0 1px #000, 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    /* -webkit-text-stroke-color: white; */
    /* -webkit-text-stroke-width: 0.5px; */
    padding: 0 40px;
    font-size: 1.25rem;
}

#username-profile{
    font-size: 2rem;
}
#message-profile{
    word-wrap: break-word;
    text-align: right;
    margin-top: 450px;
}

#other-info-profile{
    height: 150px;
}


.main-pictures{

}

.message{
    width: fit-content;
    align-self: flex-end;
    max-width: 60%;
    border-radius: 30px;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}
.message-date{
    align-self: flex-end;
    font-size: 9px;
    margin-top: 5px;
    color: gray;
}
#caption{
    margin-left: calc((100% - 675px) / 2);
    width: 675px;
    display: flex;
    justify-content: space-between;
}
.menu{
    padding-left: 10px;
    cursor: pointer;
}
#mHeader{
    height: 60px;
}
.user-pic{
    margin-top: 4px;
    margin-left: 30px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    border: lightgray 1px solid;
    border-radius: 50px;
    float: left;
}
.username{
    padding-top: 16px;
    margin-left: 100px;
    font-weight: 500;
    justify-content: space-between;
    display: flex;
    margin-right: 50px;
}
#mBody{
    border-top: solid rgb(194, 194, 194) 1px;
    height: 550px;
    border-bottom: solid rgb(194, 194, 194) 1px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    overflow: auto;
   
}
#mBody::-webkit-scrollbar{
    width: 5px;
    background-color: white;
}
#mBody::-webkit-scrollbar-thumb{
    background-color: lightgray;
}
#mFooter{
    position: relative;
    max-height: 60px;
}

#input-message{
    position: absolute;
    width: calc(70% - 45px);
    max-width: 70%;
    padding-right: 30px;
    margin: 2% 15%;
    height: 2rem;
    border-radius: 30px;
    border-width: 1px;
    padding-left: 15px;
    outline: none;
}

#icon_mes{
    position: absolute;
    margin: 3% 0 3% calc(85% - 25px);
    cursor: pointer;
}

#button-split{
    margin-top: calc(5% + 695px);
    margin-left: calc(((100% - 675px) / 2) + 535px);
    color:#2196f3;
    letter-spacing: 2px;
    text-align: center;
    padding: 15px 30px;
    font-size: 1.5rem;
    width: 80px;
    height: 30px;
    cursor: pointer;
    border-radius: 30px;
    /* border: solid; */
}

#button-split:hover{
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 50px #2196f3;
    background-color: #2196f3;
    color: white;
    transition: 1s;
}
#dalmatien{
    cursor: pointer;
}